
/*для больших экранов*/

@media only screen and (max-width: 1200px){

}
/*Medium Для средних экранов*/

@media only screen and (max-width: 1024px){
    .titleH2{
        font-size: 2rem;
    }
    .header {
        position: relative;
        width: 100%;
        min-height: 1050px;
        padding: 0 20px;
        background: url(../img/promo/Butterfly1.png) no-repeat 580px 300px, 
        url(../img/promo/Butterfly.png) no-repeat 20px 350px, 
        url(../img/promo/Image.png) no-repeat -500% 100px, 
        url(../img/promo/Hills.png) no-repeat -100px -180px;
    }
    .TheBest {
        min-height: 300px;
    }
    .TheBest__text {
        margin-top: -106px;
    }
    .TheBest__slider-items {
        width: 600px;
    }
    .TheBest__text h4 {
        font-size: 1.5rem;
    }
    .TheBest__text_discr {
        font-size: 1rem;
    }
    .slick-dots {
        left: -334px;
        bottom: 0px;
    }
    .Organisation h2 {
        font-size: 2rem;
    }
    .Touch__img,.Touch__text{
        width: 470px;
    }
    .header__logo{
        width: 180px;
    }
    .header__nav{
        width: 710px;
    }
    .block-subscription {
        width: 70%;
    }
}
@media only screen and (max-width: 992px){
    .header {
        position: relative;
        width: 100%;
        min-height: 1050px;
        padding: 0 20px;
        background: url(../img/promo/Butterfly1.png) no-repeat 580px 300px, url(../img/promo/Butterfly.png) no-repeat 20px 350px, url(../img/promo/Image.png) no-repeat -400% 100px, url(../img/promo/Hills.png) no-repeat -100px -180px;
    }
    .header__nav {
        width: 745px;
    }
    .header__title h1{
        font-size: 2.5rem;
    }
    .slick-dots {
        bottom: -15px;
    }
    .Touch__img::after {
        top: 159px;
    }
}

/*Smal для маленьких экранов*/
@media only screen and (max-width: 768px){
    .header{
        min-height: 555px;
    }
    .header__logo {
        width: 158px;
        margin-right: 50px;
        display: flex;
        align-items: center;
    }
    .header__nav a{
        font-size: 0.8rem;
    }
    .header__title {
        padding-top: 50px;
        text-align: center;
    }
    .header__title h4 {
        font-size: 1.5rem;
    }
    .header__title h1 {
        font-size: 2rem;
    }
    .header__title-text{
        font-size: 1rem;
        width: 100%;
    }
    .TheBest{
        flex-direction: column;
        padding: 0 20px;
    }
    .TheBest__text{
        width: 100%;
        text-align: center;
        margin-top: -81px;
        margin-right: 0;
    }
    .TheBest__slider-items {
        width: 100%;
    }
    .Touch__wrap {
        align-items: center;
    }
    .Touch__img, .Touch__text {
        width: 335px;
    }
    .block-subscription form input {
        width: 47%;
    }
    .block-subscription h4 {
        font-size: 1.2rem;
    }
    footer .flex{
        flex-direction: column;
    }
    .header__logo {
        margin-bottom: 30px;
        margin-right: 0;
    }
    .footer__fon {
        padding: 20px;
    }
    .footer__row {
        flex-direction: column;
    }
    .footer__copy{
        margin: 30px 0;
    }
    .footer__CallNow {
        text-align: center;
    }
}
@media only screen and (max-width: 767px){
    .header__nav{
        display: none;
    }
    .header .fa-bars{
        display: block;
    }
}
@media only screen and (max-width: 736px){
    .block-subscription form input {
        width: 100%;
    }
}
@media only screen and (max-width: 667px){
    .Organisation h2 {
        font-size: 1.8rem;
    }
    .Touch {
        padding: 0px 20px 50px 20px;
    }
    .Touch__wrap{
        flex-direction: column;
    }
    .Touch__text{
        width: 100%;
        text-align: center;
    }
    .footer {
        padding-bottom: 0px;
    }
}
@media only screen and (max-width: 598px){
    .TheBest__text {
        margin-top: -35px;
    }
}

/*Exstra Smal для супер маленьких экранов*/
@media only screen and (max-width: 480px){
    .Organisation h2 {
        font-size: 1.3rem;
    }
    .slick-dots {
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 414px){
    .footer__copy {
        max-width: 100%;
        text-align: center;
    }
    .mobileMenu_activ {
        border-radius: inherit;
    }
    .mobileMenu__nav{
        align-items: flex-start;
        padding: 0 0 0 55px;
    }
    .mobileMenu span{
        left: 90%;
    }
    .block-subscription {
        width: 75%;
    }
}
/*Для Iphon*/
@media only screen and (max-width: 384px){
    .block-subscription {
        width: 80%;
    }
}
@media only screen and (max-width: 375px){
    .TheBest__slider-item{
        margin-right: 0;
    }
    .Organisation__subtitle {
        font-size: 1rem;
    }
    .block-subscription {
        width: 87%;
    }
    .Touch__img::after {
        top: 30px;
        right: -18px;
    }
}
@media only screen and (max-width: 320px){
    .button{
        font-size: 0.8rem;
    }
    .titleH2 {
        font-size: 1.5rem;
    }
    .block-subscription {
        width: 95%;
    }
}